<h1>Your Previous Feedback</h1>

<table>
  <thead>
    <tr>
      <th>Why you want to use PRODUCT:</th>
      <th>Rating - How likely are you to recommend PRODUCT to a friend?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.body %></td>
        <td><%= snippet.rating %></td>
        <td><%= link_to 'Show', snippet %></td>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <% if current_user && current_user.email == "bbensch@gmail.com" %>
        <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Share more feedback', new_snippet_path %>
<% if current_user && current_user.email == "bbensch@gmail.com" %>
<h3> <%= link_to 'View all feedback', '/admin_index' %> </h3>
<% end %>
